* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  background: lightblue;
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  /* height: 100vh; */
}

navbar,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
  padding: 1rem 0;
}

#logo h3 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: transform 350ms ease-in-out;
}

#logo h3:hover {
  color: #fd310f;
  transform: scale(1.1);
}

#logo ion-icon {
  align-self: flex-start;
  margin: 0 0.15rem;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: block;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  min-width: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fd310f;
  border-radius: 3px;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}

.btns:hover {
  background-color: #fe712a;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.price {
  font-size: 1rem;
  font-weight: bold;
}

.image {
  width: 100px;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 350ms ease-in-out;
}

.image:hover {
  transform: scale(1.15);
}

label,
textarea {
  font-size: 1rem;
  letter-spacing: 1px;
}

label {
  /* margin-top: 2rem; */
  /* font-size: .8rem; */
}

label ion-icon {
  align-self: center;
}

textarea {
  /* padding: 10px;
  max-width: 100%; */
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: 0.85rem;
  color: #999;
}

label {
  display: block;
  margin-bottom: 10px;
  display: flex;
}

label h3 {
  margin-left: 0.25rem;
}

.footer-icon {
  margin-right: 0.25rem;
}

footer {
  /* height: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.footer-textarea {
  padding-right: 1rem;
}

.footer-addressAndButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-addressAndButton .btns {
  margin: 0;
}

footer span {
  font-weight: lighter;
  display: block;
}

/* JS added classes */
.anchors-class {
  text-decoration: none;
  color: #404040;
  font-weight: bold;
  background: wheat;
  border: 1px solid #404040;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  line-height: 1.7rem;
}
.anchors-class:hover {
  background: lightblue;
  border-color: white;
}

/* Different table */
#table {
  background: white;
}
#table td,
#table th {
  width: 18vw;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

#table th {
  background: lightblue;
  border-color: white;
}
